<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Your very own image caption bot</h2>
    <form method='POST' action='/' enctype="multipart/form-data">

        <input type='file' name='userfile' placeholder="Your Image" >
        <button type="submit"> Generate Caption </button>

    </form>
    {% if your_result %}
    <img src='{{your_result['image']}}'>
    <h2>your caption is : {{your_result['caption']}}</h2>
    {% endif %}
</body>
</html>